*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Oleo Script', cursive;
}
.menu{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.fa.fa-navicon {
  color:white;
}

.carousel{
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.card-pit{
  border:1px solid #aaa;
  padding: 10px;
  border-radius: 0px 30px;
}
.card-pit:hover{
  box-shadow: 0px 0px 10px 3px #ccc;  
}
.card-sos{
  padding: 10px;
  border-radius: 10px;
}
.card-sos:hover{
  box-shadow: 0px 0px 10px 3px #ccc;  
}
.card-desc{
  border-top: 1px solid #aaa;
}
.card-desc p{
  display: none;
}
.img-logo{
  padding: 5px;
  display: flex;
  justify-content: center;
}
.img-logo2{
  max-width: 100px;
  max-height: 100px;
}
.deschide{
  display: none;
}
.faq{
  background: #fafafa;
  padding: 5px 20px;
  border-radius: 0px 20px;
  border:1px solid #ddd;
  width: 100%;
  color: #37474F;
  margin-bottom: 5px;
  text-align: left;
}
.faq:hover{
  box-shadow: 0px 0px 3px 3px #fffcfc96;
}
.faq-box{
  border-top: 1px solid #eee;
  background-image:  
  linear-gradient( rgba(2, 2, 2, 0.56), rgba(0, 0, 0, 0.33) ),
  url(https://images.unsplash.com/photo-1526170160160-1a5eb242ab58?ixlib=rb-0.3.5…EyMDd9&s=2b5f104…&auto=format&fit=crop&w=1050&q=80);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  /* background: top, transparent black, faked with gradient  */
  /* linear-gradient( rgba(2, 2, 2, 0.56), rgba(0, 0, 0, 0.33) ); */
}
.contact-box{
  border-top: 1px solid #eee;
  background-image: url('https://images.unsplash.com/photo-1508717272800-9fff97da7e8f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1386fac369f0098fad80b590a22c1ef6&auto=format&fit=crop&w=1051&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}
.about{ 
/*  background-image: url('http://paper-backgrounds.com/textureimages/2012/03/white-wrinkled-paper-background-hd.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; */
}
.v-profile{
  width: 100%;
  height: 100%;
}
.supported{
  background-image: 
  linear-gradient( rgba(2, 2, 2, 0.15), rgba(0, 0, 0, 0.33) ),
  url("https://images.unsplash.com/photo-1514228742587-6b1558fcca3d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1b3867bc56291d134101a193b3b8ad92&auto=format&fit=crop&w=1050&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
}

.logo-sup{
  width: 100%;
  height: auto;
}







/* TWBS */
.navbar {
  background-color: #000000;
}
.navbar .navbar-brand {
  color: #ecf0f1;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ecdbff;
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ecdbff; 
}
.navbar .navbar-nav .nav-link {
  color: #ecf0f1;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ecdbff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #232324;
}
.navbar .navbar-toggle {
  border-color: #232324;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #232324;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #232324;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #232324;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #232324;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #232324;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ecf0f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ecdbff;
  background-color: #232324;
}



